.App {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.todoContainer {
  padding: 10px;
  text-transform: uppercase;
}
.todoList {
  margin: 5px;
}
.button {
  margin: 2px;
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}
.todoInput {
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
h1 {
  text-align: center;
}

